name: generate-beast-snake-animation

on:
  schedule:
    - cron: "0 0 * * *" 
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Snake Files
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: suhasgowtham-tech
          outputs: |
            github-beast-mode.svg?palette=github-dark&color_snake=%23FF3333&color_dots=%23161B22,%23400000,%23700000,%23A00000,%23FF0000

      - name: Force Push to Output
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: .
          # This line ensures it creates a clean commit on the output branch
          keep_history: false 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
